/* ==========================================================================
   $MIXINS
   ========================================================================== */

@mixin list-unstyled($margin) {
    margin-bottom: $margin;
    padding: 0;
    list-style: none;
}

@mixin link-variant($color, $hover-color) {
    color: $color;
    &:hover, &:focus {
        color: $hover-color;
    }
}

@mixin link-grey-primary {
    color: #979797;
    &:hover, &:focus {
        color: $brand-primary;
    }
}

@mixin link-grey-secondary {
    color: #979797;
    &:hover, &:focus {
        color: $brand-secondary;
    }
}

@mixin transition-all {
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

// Button Outline
@mixin button-outline-variant($color, $hovercolor) {
  color: $color;
  background-image: none;
  background-color: transparent;
  border:1px solid $color;

  &:hover, &:focus {
    color: $hovercolor;
    background-color: $color;
        border-color: $color;
  }
}

// Square/Rectangular Buttons
@mixin button-square-variant($bgcolor, $textcolor, $hovercolor, $bordercolor) {
  color: $textcolor;
  background-image: none;
  background-color: $bgcolor;
  border: 1px solid $bordercolor;
  border-radius: 0;
  font-size: inherit;

  &:hover, &:focus {
    color: $hovercolor;
    background-color: darken($bgcolor, 10%);
  }
}
