/* ==========================================================================
   $UTILITIES
   ========================================================================== */

/* == Extending Bootstrap Utilities == */

.u-text-left { text-align: left !important; }
.u-text-right { text-align: right !important;  }
.u-text-center { text-align: center !important;  }

.u-uppercase { @extend .text-uppercase; }
.u-lowercase { @extend .text-lowercase; }
.u-capitalize { @extend .text-capitalize; }

.u-pull-left { @extend .pull-left; }
.u-pull-right { @extend .pull-right; }

.u-hide { @extend .hide; }
.u-show { @extend .show; }
.u-hidden { @extend .hidden; }

.u-list-unstyled { @extend .list-unstyled; }

.u-clearfix { @extend .clearfix; }

.u-center {
    margin-left: auto;
    margin-right: auto;
}

/* == Margin Utilities == */

.bottom,
.u-bottom,
.u-bottom0 {margin-bottom:0 !important;}
.u-bottom5 {margin-bottom:5px !important;}
.bottom10, .u-bottom10 {margin-bottom:10px !important;}
.u-bottom15 {margin-bottom:15px !important;}
.bottom20, .u-bottom20 {margin-bottom:20px !important;}
.u-bottom30 {margin-bottom:30px !important;}
.u-bottom35 {margin-bottom:35px !important;}
.u-bottom40 {margin-bottom:40px !important;}
.u-bottom50 {margin-bottom:50px !important;}
.u-bottom60 {margin-bottom:60px !important;}
.u-bottom70 {margin-bottom:70px !important;}
.u-bottom80 {margin-bottom:80px !important;}
.u-bottom90 {margin-bottom:90px !important;}
.u-bottom100 {margin-bottom:100px !important;}
.u-bottom200 {margin-bottom:200px !important;}

.top,
.u-top,
.u-top0 {margin-top:0 !important;}
.u-top5 {margin-top:5px !important;}
.u-top10 {margin-top:10px !important;}
.u-top20 {margin-top:20px !important;}
.u-top25 {margin-top:25px !important;}
.u-top30 {margin-top:30px !important;}
.u-top40 {margin-top:40px !important;}
.u-top50 {margin-top:50px !important;}
.u-top60 {margin-top:60px !important;}
.u-top70 {margin-top:70px !important;}
.u-top80 {margin-top:80px !important;}
.u-top90 {margin-top:90px !important;}
.u-top100 {margin-top:100px !important;}
.u-top200 {margin-top:200px !important;}

/* == Padding Utilities == */

.u-pad5 { padding: 5px; }
.u-pad10 { padding: 10px; }
.u-pad15 { padding: 15px; }
.u-pad20 { padding: 20px; }
.u-pad25 { padding: 25px; }
.u-pad30 { padding: 30px; }
.u-pad40 { padding: 40px; }
.u-pad50 { padding: 50px; }
.u-pad60 { padding: 60px; }

.u-padless-lr { padding-left: 0; padding-right: 0; }
.u-padless-tb { padding-top: 0; padding-bottom: 0; }

/* Padding (Left & Right) Horizontal Sides
    Left
*/
.padding-horizontal-5, .padding-left-5 {
  padding-left: 5px !important;
}
.padding-horizontal-10, .padding-left-10 {
  padding-left: 10px !important;
}
.padding-horizontal-15, .padding-left-15 {
  padding-left: 15px !important;
}
.padding-horizontal-20, .padding-left-20 {
  padding-left: 20px !important;
}
.padding-horizontal-25, .padding-left-25 {
  padding-left: 25px !important;
}
.padding-horizontal-30, .padding-left-30 {
  padding-left: 30px !important;
}
.padding-horizontal-40, .padding-left-40 {
  padding-left: 40px !important;
}
.padding-horizontal-50, .padding-left-50 {
  padding-left: 50px !important;
}
/*
    Right
*/
.padding-horizontal-5, .padding-right-5 {
  padding-right: 5px !important;
}
.padding-horizontal-10, .padding-right-10 {
  padding-right: 10px !important;
}
.padding-horizontal-15, .padding-right-15 {
  padding-right: 15px !important;
}
.padding-horizontal-20, .padding-right-20 {
  padding-right: 20px !important;
}
.padding-horizontal-25, .padding-right-25 {
  padding-right: 25px !important;
}
.padding-horizontal-30, .padding-right-30 {
  padding-right: 30px !important;
}
.padding-horizontal-40, .padding-right-40 {
  padding-right: 40px !important;
}
.padding-horizontal-50, .padding-right-50 {
  padding-right: 50px !important;
}

/* == Font Sizes == */

.u-text-xs { font-size: 0.75em; }
.u-text-sm { font-size: 0.9em; }
.u-text-md { font-size: 1.2em; }
.u-text-lg, .u-text-xl, .u-text-xxl { font-size: 1.8em; }

.u-weight-normal { font-weight: 400; }
.u-weight-semi { font-weight: 600; }

/* == Line Heights == */

.u-line1 { line-height: 1; }

/* == Vertical Align == */

.u-valign-top {
    vertical-align: top;
}

/* == Colors == */

.u-color-primary { color: $brand-primary; }
.u-color-secondary { color: $brand-secondary; }
.u-color-alt { color: $brand-primary-alt; }

.u-color-muted { color: $gray-muted; }
.u-color-positive, .u-color-success { color: $brand-success; }
.u-color-negative { color: $brand-danger; }

.u-color-white { color: #fff; }

.req { color: $brand-secondary; }

/* == Background == */

.u-bg-cover {
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* == Borders == */

.u-noborder {
  border: none !important;
}

.u-noborder-top {
    border-top: none !important;
}

/* == Links == */

.u-link-primary {
    @include link-variant($brand-primary !important, $link-hover-color !important);
}
.u-link-secondary {
    @include link-variant($brand-secondary, $brand-primary);
}
.u-link-text {
    @include link-variant($text-color, $brand-primary);
}
.u-link-white {
    @include link-variant(#fff, $brand-primary);
}

.u-link-underline {
    text-decoration: underline;
}

.u-hover-fade:hover,
.u-hover-fade:hover {
   opacity: 0.80;
}

/* == Display Types == */

.u-block {
    display: block;
}
.u-inline-block {
    display: inline-block;
}

.u-truncated {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Lists */

.list-spaced li,
.u-list-spaced li {
    margin-bottom: 10px;
}

.list-flush,
.u-list-flush {
    padding-left: 20px;
}

.u-list-truncated {
    padding-left: 0;
    > li {
        list-style-position:inside;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Extra Small Devices and DOWN */
@media (max-width: $screen-xs-max) {

    // Text Align @ Extra Small Devices
    .u-text-left\@xs {
        text-align: left !important;
    }
    .u-text-center\@xs {
        text-align: center !important;
    }
    .u-text-right\@xs {
        text-align: right !important;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {

    .u-text-xl { font-size: 2em; }
    .u-text-xxl { font-size: 2.5em; }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

}
