/* ==========================================================================
   $VARIABLES
   ========================================================================== */

/* Colors */

$brand-primary:         #009fe0 !default;
$brand-primary-alt:     #127cc0 !default;
$brand-secondary:       #ff910e !default;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

$text-color:            #7d7d7d !default;
$text-color-light:      #959595 !default;

$gray-muted:            #cecece !default;
$brand-bg-primary:      $brand-primary-alt !default;
$brand-bg-secondary:    #efefef !default;

/* Typography */

$font-family-sans-serif:  'Source Sans Pro', sans-serif !default;

/* Border */

$border-default:        1px solid #f0f0f0;
$border-secondary:      1px solid #d5d5d5;

$nav-tabs-border-color: #d5d5d5 !default;
$nav-tabs-active-link-hover-border-color: #d5d5d5 !default;

/* Inputs */

$input-border-radius:            0;
$input-border-radius-large:      0;
$input-border-radius-small:      0;
